<h1>Testing Material icons gem!</h1>
<h2>A set of icons</h2>

<%= mi.shape(:face).r90 %>
<%# Define with a string %>
<%= material_icon.shape('face').r90.md_24 %>
<%# Shape with number %>
<%= mi.shape('3d_rotation') %>

<%# Other styles %>
<%= mi.shape('home').outlined %>
<%= mi.shape('home').sharp %>
<%= mi.shape('home').round %>
<%= mi.shape('home').twotone %>

<%# Safe join! %>
<%= safe_join([mi.shape(:send).to_s, mi.shape(:book).to_s]) %>
